/* google font */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Roboto&family=Teko&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #2a1b3d !important;
  margin: 0;
  color: #ffffff !important;
}

.navbar-brand {
  font-family: "Anton";
  font-size: 3vw !important;
  color: #ffffff !important;
}

.nav-link {
  font-family: "Teko";
  font-size: 1.5vw !important;
  color: #d83f87 !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #8265a7 !important;
}

.pages {
  margin: 0 auto;
}

/* homepage */
.home {
  background: linear-gradient(to bottom, #2a1b3d, rgba(117, 19, 93, 0.73)),
    url(../../frontend/public/img/backgroundImg.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.workout-card {
  background: #d83f87;
  max-width: 60%;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-card h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #1d1c1a;
}
.workout-card p {
  margin: 0;
  font-size: 0.9em;
  color: #1d1c1a;
}
.workout-card span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #2c3639;
  padding: 6px;
  border-radius: 50%;
  color: #ffffff;
}

/* new workout form */
label,
input {
  display: block;
  color: #ffffff;
  background-color: #1d1c1a;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #3f4e4f;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.workout-modal-body,
.workout-modal-header {
  background-color: #1d1c1a;
}

.add-workout {
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
}

.add-workout-button {
  background-color: #e98074;
}
